<div class="tab-pane" id="newView" role="tabpanel" aria-labelledby="manyView-tab">
  <div class="row">
    <div class="col-md-8">
      <div class="single-post" style="width: 80%; margin: auto">
        <%if(posts.length > 0) { %>
        <div>
          <div class=" type-search">
              <label>Bài viết</label>
          </div>          
          <% if(tag) { %>
          <div class="suggest-title search">
            <ul>
              <li><a>
                  <%= tag %></a></li>
            </ul>
          </div>
          <% } %>
        </div>

        <% posts.map(post => { %>
        <div class="new-view">
          <div class="row">
            <div class="col-sm-1">
              <img class="img" src="<%= post.user && post.user.avatar_url || '/img/ava-default.png' %>" alt="ảnh">
            </div>
            <div class="col-sm-11">
              <div class="row">
                <div class="col-md-11">
                  <a class="title" href="/posts/<%= post.post_id%>"><label>
                      <%= post.title %></label></a>
                </div>
                <div class="col-md-1">
                  <div class="total-like">
                    <%= post.total_like %> <i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
                </div>
              </div>
              <p>
                <%= post.short_content%>
              </p>
              <p>
                <%= locals.settingTab%>
              </p>
            </div>
          </div>
        </div>
        <% } )%>
        <% } %>
      </div>
    </div>

    <!-- Tags -->
    <div class="col-md-4">
      <div class="suggest-title" style="width: 60%;">
        <i class="fa fa-tags" aria-hidden="true">&nbsp&nbsp<i style="color: #333;">Chủ đề nổi bật</i></i>
        <ul>
          <% tags.map(tag => { %>
          <li><a href="/searchtag?tag=<%=tag%>">
              <%= tag %></a></li>
          <% } )%>
        </ul>
      </div>
    </div>
  </div>
</div>