<div class="content">
  <div class="row">
    <div class="col-sm-8">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="manyView-tab" data-toggle="tab" href="#newView" role="tab" aria-controls="home"
            aria-selected="true">Bài viết hay</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="manyPost-tab" data-toggle="tab" href="#newPost" role="tab" aria-controls="profile"
            aria-selected="false">Bài viết mới</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="manyLove-tab" data-toggle="tab" href="#newLove" role="tab" aria-controls="love"
            aria-selected="false">Bài viết yêu thích</a>
        </li>
      </ul>

      <div class="tab-content">
        <!-- New View -->
        <div class="tab-pane" id="newView" role="tabpanel" aria-labelledby="manyView-tab">
          <div class="single-post">
            <% bv_hay.map(post => { %>
            <div class="new-view">
              <div class="row">
                <div class="col-sm-1">
                  <img class="img" src="/img/test.jpg" alt="ảnh">
                </div>
                <div class="col-sm-11">
                  <div class="row">
                    <div class="col-md-11">
                      <a class="title" href="/posts/<%= post.post_id%>"><label>
                          <%= post.title %></label></a>
                    </div>
                    <div class="col-md-1">
                      <div class="total-like">
                        <%= post.total_like %> <i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
                    </div>
                  </div>
                  <p>
                    <%= post.short_content%>
                  </p>
                  <p>
                    <%= locals.settingTab%>
                  </p>
                </div>
              </div>

            </div>
            <% } )%>
            <div class="button">
              <button><a>Xem tiếp</a></button>
            </div>
          </div>
        </div>
        <!-- New Post -->
        <div class="tab-pane active" id="newPost" role="tabpanel" aria-labelledby="newExam-tab">
          <div class="single-post">
            <% bv_moi.map(post => { %>
            <div class="new-view">
              <div class="row">
                <div class="col-sm-1">
                  <img class="img" src="/img/test.jpg" alt="ảnh">
                </div>
                <div class="col-sm-11">
                  <div class="row">
                    <div class="col-md-11">
                      <a class="title" href="/posts/<%= post.post_id%>"><label>
                          <%= post.title %></label></a>
                    </div>
                    <div class="col-md-1">
                      <div class="total-like">
                        <%= post.total_like %> <i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
                    </div>
                  </div>
                  <p>
                    <%= post.short_content%>
                  </p>
                  <p>
                    <%= locals.settingTab%>
                  </p>
                </div>
              </div>

            </div>
            <% } )%>
          </div>
        </div>
        <!-- End new post -->
        <!-- Love Post -->
        <div class="tab-pane" id="newLove" role="tabpanel" aria-labelledby="newExam-tab">
          <div class="single-post">
            <% bv_yt.map(post => { %>
            <div class="new-view">
              <div class="row">
                <div class="col-sm-1">
                  <img class="img" src="/img/test.jpg" alt="ảnh">
                </div>
                <div class="col-sm-11">
                  <div class="row">
                    <div class="col-md-11">
                      <a class="title" href="/posts/<%= post.post_id%>"><label>
                          <%= post.title %></label></a>
                    </div>
                    <div class="col-md-1">
                      <div class="total-like">
                        <%= post.total_like %> <i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
                    </div>
                  </div>
                  <p>
                    <%= post.short_content%>
                  </p>
                  <p>
                    <%= locals.settingTab%>
                  </p>
                </div>
              </div>

            </div>
            <% } )%>
          </div>
        </div>
        <!-- End love post -->
      </div>
    </div>
    <div class="col-sm-1"></div>
    <!-- Ca nhan -->
    <div class="col-sm-3">
      <div class="chude">
        <div class="meta-profile">
          <div class="row">
            <div class="col-sm-5">
              <img src="<%= user.avatar_url || '/img/ava-default.png'%>" alt="ảnh">
            </div>
            <div class="col-sm-7">
              <p><label>
                  <%= user.full_name%></label></p>
              <!-- <span>0 bài viết</span><br> -->
              <span>
                <%= follows.length%> người theo dõi</span>
            </div>
          </div>
        </div>
        <div class="suggest-title">
          <i class="fa fa-tags" aria-hidden="true">&nbsp&nbsp<i style="color: #333;">Chủ đề nổi bật</i></i>
          <ul>
            <% tags.map(tag => { %>
            <li><a>
                <%= tag %></a></li>
            <% } )%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>