<div class="user-page">
    <div class="col-sm-8">
        <div class="suggest-title" style="margin-bottom: 10px;">
            <i class="fa fa-tags" aria-hidden="true">&nbsp&nbsp<i style="color: #333;">Chủ đề nổi bật</i></i>
            <ul>
                <li><a>javascript</a></li>
                <li><a>golang</a></li>
            </ul>
        </div>
        <div class="single-post">
            <% posts.map(post => { %>
            <div class="new-view">
                <a href="<%= '/posts/'+ post.post_id %>"><label>
                        <%= post.title %></label></a>
                <span><%= post.total_like %> <i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                <p>
                    <%= post.short_content%>
                </p>
                <p>
                    <%= locals.settingTab%>
                </p>
            </div>
            <% } )%>
            <div class="button">
                <button><a>Xem tiếp</a></button>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <div class="meta-profile">
            <div class="row">
                <div class="col-sm-5">
                    <img src="<%= target_user.avatar_url || '/img/ava-default.png' %>" alt="ảnh">
                </div>
                <div class="col-sm-7">
                    <p><label>
                            <%= target_user.full_name%></label></p>
                    <span>
                        <%= follows.length%> người theo dõi</span>
                    <% if(user.user_id!=target_user.user_id){%>
                    <button id="follow" data-id="<%= target_user.user_id%>"><i class="ti-rss-alt"></i> &nbsp Follow</button><br>
                    <% }%>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(function () {
        $('#follow').on('click', function (event) {
            $('#follow').text('Following');
            var user_id = $('#follow').attr("data-id")
            $.ajax({
                type: 'PUT',
                crossDomain: true,
                headers: {
                    "Access-Control-Allow-Origin": "*"
                },
                data: JSON.stringify({
                    "followed_user_id": user_id,
                    "follow_status": true
                }),
                contentType: 'application/json',
                url: '/follows',
                success: function (data) {
                    console.log('success');
                }
            });
        });
    });
</script>