<div class="content detail" data-user="<%= JSON.stringify(user) %>">
  <div class="row">
    <div class="col-sm-9">
      <div class="detailView">
        <label>
          <%= post.title %></label><br>
        <span><img class="cmt-img" src="<%= post.user.avatar_url || '/img/ava-default.png'%>" alt="ảnh"></span>
        <span>
          <%= post.user.full_name%> viết ngày 12/7/2018</span>
        <br />
        <p>
          <%- post.content%>
        </p>
      </div class="mt-2">
      <h4>Bình luận</h4>
      <div id="comment-list">
        <% reviews.map(review => { %>
        <div class=" row comment">
          <div class="col-sm-1">
            <a href="<%= '/users/' +review.user.user_id%>">
              <img class="img" src="<%= review.user.avatar_url || '/img/ava-default.png'%>" alt="ảnh">
            </a>
          </div>
          <div class="col-sm-11">
            <a href="<%= '/users/' +review.user.user_id%>">

              <label>
                <%= review.full_name %></label></a>
            <span>
              <%= review.time %></span>
            <br>
            <span>
              <%= review.content %></span><br>



            <div id="<%= 'sub-review-list-'+review.review_id %>">
              <% review.sub_reviews.map(sub_review => { %>
              <div class=" row comment1">
                <div class="col-sm-1">
                  <a href="<%= '/users/' +sub_review.user.user_id%>">

                    <img class="img" src="<%= sub_review.user.avatar_url || '/img/ava-default.png'%>" alt="ảnh">
                  </a>
                </div>
                <div class="col-sm-11">
                  <a href="<%= '/users/' +sub_review.user.user_id%>">

                    <label>
                      <%= sub_review.full_name %></label>
                  </a>
                  <span>
                    <%= sub_review.time %></span>
                  <br>
                  <span>
                    <%= sub_review.content %></span>
                </div>
              </div>
              <% } )%>
            </div>
            <div class="row comment1">
              <div class="col-sm-1">
                <img class="img" src="<%= user.avatar_url || '/img/ava-default.png'%>" alt="ảnh">
              </div>
              <div class="col-sm-11">
                <textarea id="<%= 'textarea-'+review.review_id%>" placeholder="Ý kiến (markdown)"></textarea>
                <button class="reply" review-id="<%= review.review_id%>">Trả lời</button>
              </div>
            </div>
          </div>
        </div>
        <% } )%>
      </div>
      <div class="row comment">
        <div class="col-sm-1">
          <img class="img" src="<%= user.avatar_url || '/img/ava-default.png'%>" alt="ảnh">
        </div>
        <div class="col-sm-11">
          <textarea id="comment-content" placeholder="Ý kiến (markdown)"></textarea>
          <button id="comment">Trả lời</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row likecmt">
        <div class="number-like">
          <div class="col-sm-6">
            <a href="#" id="like"><i id="like-state" data-like="<%= is_liked %>" class="<%= 'fa fa-thumbs-up like-'+is_liked%>"
                aria-hidden="true"></i></a>
            <span id="num-like">
              <%= post.total_like%></span>
          </div>
        </div>

        <div class="profile" id="to-profile" data-id="<%= post.user.user_id%>" data-post-id="<%= post.post_id%>">
          <div class="col-sm-4">
            <a href="<%= '/users/' +post.user.user_id%>">
              <img src="<%= post.user.avatar_url || '/img/ava-default.png'%>" alt="ảnh">
            </a>
          </div>
          <div class="col-sm-7">
            <a href="<%= '/users/' +post.user.user_id%>">
              <label>
                <%= post.user.full_name%></label></a>
            <br>
            <!-- <span>0 bài viết</span><br>
            <span>0 người theo dõi</span> -->
          </div>
        </div>


      </div>
    </div>

  </div>

</div>

<script>
  $(function () {
    var post_id = $('#to-profile').attr('data-post-id')

    // $('#to-profile').on('click', function (event) {
    //   event.preventDefault();
    //   var user_id = $('#to-profile').attr('data-id')
    //   if (user_id) {
    //     window.location.href = `/users/${user_id}`
    //   }
    // });
    let isRequestLike = false;
    let user = JSON.parse($('.detail').attr('data-user'))
    let avatar_url = user.avatar_url || '/img/ava-default.png';
    let { full_name, user_id } = user
    let href = `/users/${user_id}`
    //like
    $('#like').on('click', function (event) {
      event.preventDefault();
      if (isRequestLike) {
        return
      }
      if (post_id) {
        isRequestLike = true;
        let like = $('#like-state').attr('data-like') == 'true';
        let newLike = !like
        console.log(like, newLike)
        $.ajax({
          type: 'PUT',
          crossDomain: true,
          headers: {
            "Access-Control-Allow-Origin": "*"
          },
          data: JSON.stringify({
            "post_id": post_id,
            "like": newLike
          }),
          contentType: 'application/json',
          url: '/favorites',
          success: function (data) {
            var currentLike = Number($('#num-like').text()) || 0;
            isRequestLike = false;
            if (newLike) {
              $('#like-state').attr({
                "class": "fa fa-thumbs-up like-true",
                "data-like": "true"
              })
              $('#num-like').text(++currentLike)
            } else {
              $('#like-state').attr({
                "class": "fa fa-thumbs-up like-false",
                "data-like": "false"
              })
              $('#num-like').text(--currentLike)
            }

          }
        });
      }
    });

    // reply
    $('.reply').on('click', function (event) {
      event.preventDefault()
      console.log('click reply')
      var review_id = event.target.getAttribute('review-id')
      var content = $(`#textarea-${review_id}`).val();
      if (!content.trim()) {
        return
      }
      var sub_review = { content }
      $.ajax({
        type: 'POST',
        crossDomain: true,
        headers: {
          "Access-Control-Allow-Origin": "*"
        },
        contentType: 'application/json',
        data: JSON.stringify({
          "sub_review": sub_review,
          "review_id": review_id,
          "post_id": post_id
        }),
        url: '/subreviews',
        success: function (data) {
          console.log(data);
          $(`#textarea-${review_id}`).val('');
          let { content } = data;
          let time = 'Vừa xong'
          var newReply = '<div class=" row comment1">' +
            '        <div class="col-sm-1">' +
            `           <a href="${href}">` +
            `          <img class="img" src="${avatar_url}" alt="ảnh">` +
            ' </a>' +
            '        </div>' +
            '        <div class="col-sm-11">' +
            `           <a href="${href}">` +
            `          <label>${full_name}</label>` +
            ' </a>' +
            `          <span>${time}</span>` +
            '          <br>' +
            `          <span>${content}</span><br>` +
            '            </div>' +
            '            </div>'
          $(`#sub-review-list-${review_id}`).append(newReply);
        }
      });
    });

    // comment
    $(`#comment`).on('click', function (event) {
      event.preventDefault()
      var content = $('#comment-content').val();
      var review = { content }
      $.ajax({
        type: 'POST',
        crossDomain: true,
        headers: {
          "Access-Control-Allow-Origin": "*"
        },
        contentType: 'application/json',
        data: JSON.stringify({
          "review": review,
          "post_id": post_id
        }),
        url: '/reviews',
        success: function (data) {
          console.log(data);
          $('#comment-content').val('')
          let { content } = data;
          let time = 'Vừa xong'
          var newCommentHtml = '<div class=" row comment">' +
            '        <div class="col-sm-1">' +
            `           <a href="${href}">` +
            `          <img class="img" src="${avatar_url}" alt="ảnh">` +
            '           </a>' +
            '        </div>' +
            '        <div class="col-sm-11">' +
            `           <a href="${href}">` +
            `             <label>${full_name}</label>` +
            '           </a>' +
            `           <span>${time}</span>` +
            '          <br>' +
            `          <span>${content}</span><br>` +
            '            </div>' +
            '            </div>'
          $("#comment-list").append(newCommentHtml);
        }
      });
    });
  });
</script>